@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 11rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__icons-container {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #284B63
}

.header__logo {
    width: 21rem;
    height: 100%;
    margin-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    filter: invert(92%) sepia(0%) saturate(548%) hue-rotate(144deg) brightness(95%) contrast(93%);
    height: 3rem;
}

.header__logo img:hover {
    filter: invert(100%) sepia(0%) saturate(4955%) hue-rotate(171deg) brightness(110%) contrast(97%);
}

.header__icons {
    width: 21rem;
    height: 100%;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
    grid-column: 2;
}

.header__icons .fab {
    color: #D9D9D9;
    font-size: 3rem;
}

.header__icons .fab:hover{
    color: white;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 6rem;
    color: #D9D9D9;
}

.nav__logo-container {
    margin-left: 10rem;
    display: flex;
    align-items: center;
}

.nav__name span {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #353535;
}

.nav__profile-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;
}

.nav__profile-link a {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0rem;
    background-color: #284B63;
    border: 1px solid #284B63;
    color: #D9D9D9;
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
}

.nav__profile-link a:hover {
    background-color: #013d5c;
    border-color: #013d5c;
}

.home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../images/home__background.png');
    background-size: 100%;
}

.home section {
    display: grid;
    grid-template-rows: 1fr 5rem;
    grid-column: 2;
    justify-items: center;
    height: 28rem;
    align-self: flex-end;
    margin-bottom: 18rem;
}

.home__text {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    color: #D9D9D9;
    align-self: center;
    padding: 0 20rem;
    margin: 0;
    
}

.home__button {
    width: 12rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    padding: 0 0.6rem;
}

.home__button a{
    color: black;
}

.home__button:hover{
    border: 1px solid white;
    background-color: white;
    color: #284b63;
    cursor: pointer;
}


